@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html {
  scroll-behavior: smooth;
  
}

html,body {
  margin:0;
  padding:0;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}



#darkMode:hover{
  color: black;
  font-family: "Roboto";
  background-color: #5F5F5F;
  cursor: pointer;
}

h1, h3{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
}


p{

color: white;


}

.Shadow{

  text-shadow: 3px, 3px, black;

}





body{  
  
  font-family: 'Roboto Black';
  overflow-x: hidden;
background-color: black;
 
}





.navbar {  
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  opacity: 100%;
  transition: z-index 0s 0s; 
  z-index: 20;
 font-weight: bold;
}



.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  
}

.navbar a :hover{
  cursor: pointer
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 1010px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}



#footer {
  font-size: 14px;
  color: white;
  font-family: "Arial";
  text-align: left;
  margin: 0;
}

.a1{
  color: black;
  font-weight: bolder;
  background-color: white;
  border-radius: 15%;
  padding: 5px;
  position: absolute;
  text-decoration: none;
  margin-left: 150px;
  margin-bottom: 150px;
}

/* Image knap ting */




#flag{

height: 4%;
object-fit: contain;
margin: 0 !important;
float: right;
padding-right: 15;
padding-top: 10;
transition: all 0.3s; 

}

#flag:hover{

  transform: scale(1.05);
  cursor: pointer;

}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(56, 57, 58); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgb(64, 65, 66); 
}




.ssh{

color: white;
margin-top: 15px;
margin-bottom: 15px;

}


#webtxt{


float: left;
margin: 20;
font-size: 1.3vw;
font-family: Roboto;
margin-left: 100px;
margin-right: 100px;

}



.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: black;
    color: white;
    transition: all 0.3s;
    font-family: "Roboto";
 
  
}

/* Control the right side */
.right {
    right: 0;
    background-color: rgb(197, 197, 197);
    color: black;
    transition: all 0.3s;
    font-family: "Roboto";
    
  }


img{

    transition: all 0.5s;
}

img:hover{

transform: scale(1.05);

}


/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

a{

    font-family: Verdana, sans-serif;
    font-weight: bold;    
    font-size: 16px;
}

h2{

    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
}


*#pow{

    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.list{
    font-weight: 300;    
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
}

i{

    font-size: 30px;
}


i:hover{
cursor: pointer;

}


#ma{

visibility: hidden;

}

#ma1{

  visibility: hidden;
  
  }

  .right:hover{   
    transform: scale(1.5);
    z-index: 2;
   }
 


.left:hover{   
   transform: scale(1.5);  
   z-index: 2;
  }

  .black{

    font-family: 'Acme', sans-serif;
  }